<div class = "span2 bs-docs-sidebar pull-right">
	<ul class = "nav nav-list bs-docs-sidenav affix">					
	    <div class = "well">
			<li class = "nav-header">STEPS</li>
					<li><%= link_to "Step 1", '/step_1' %></li>
					<li><%= link_to "Step 2", '/step_2' %></li>
					<li><%= link_to "Step 3", '#' %></li>
					<li><%= link_to "Step 4", '#' %></li>
					<li><%= link_to "Step 5", '#' %></li>
					<li><%= link_to "Step 6", '#' %></li>
					<li><%= link_to "Step 7", '#' %></li>
					<li><%= link_to "Step 8", '#' %></li>
		</div>
	</ul>					
</div>